In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## Acquire/Prep

In [2]:
# try:
#     df = pd.read_csv('logs.csv')
# except FileNotFoundError:
#     url = get_db_url('curriculum_logs')
#     query = "select id, name, start_date, end_date, program_id, user_id, path, ip , date, time from cohorts right join logs on cohorts.id = logs.cohort_id"
#     df = pd.read_sql(query, url)
#     df.to_csv('logs.csv', index=False)

In [ ]:
df = w.get_prepped_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          847330 non-null  float64
 1   name        847330 non-null  object
 2   start_date  847330 non-null  object
 3   end_date    847330 non-null  object
 4   program_id  847330 non-null  float64
 5   user_id     900223 non-null  int64
 6   path        900222 non-null  object
 7   ip          900223 non-null  object
 8   date        900223 non-null  object
 9   time        900223 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 68.7+ MB

In [4]:
df.isna().sum()

id            52893
name          52893
start_date    52893
end_date      52893
program_id    52893
user_id           0
path              1
ip                0
date              0
time              0
dtype: int64

In [5]:
df.head()

,id,name,start_date,end_date,program_id,user_id,path,ip,date,time
0,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,/,97.105.19.61,2018-01-26,09:55:03
1,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii,97.105.19.61,2018-01-26,09:56:02
2,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii/object-oriented-programming,97.105.19.61,2018-01-26,09:56:05
3,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,slides/object_oriented_programming,97.105.19.61,2018-01-26,09:56:06
4,22.0,Teddy,2018-01-08,2018-05-17,2.0,2,javascript-i/conditionals,97.105.19.61,2018-01-26,09:56:24

In [6]:
df['date_time'] = df.date + ' ' + df.time

In [7]:
df.date_time = pd.to_datetime(df.date_time)

In [8]:
df.head()

,id,name,start_date,end_date,program_id,user_id,path,ip,date,time,date_time
0,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,/,97.105.19.61,2018-01-26,09:55:03,2018-01-26 09:55:03
1,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii,97.105.19.61,2018-01-26,09:56:02,2018-01-26 09:56:02
2,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii/object-oriented-programming,97.105.19.61,2018-01-26,09:56:05,2018-01-26 09:56:05
3,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,slides/object_oriented_programming,97.105.19.61,2018-01-26,09:56:06,2018-01-26 09:56:06
4,22.0,Teddy,2018-01-08,2018-05-17,2.0,2,javascript-i/conditionals,97.105.19.61,2018-01-26,09:56:24,2018-01-26 09:56:24

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          847330 non-null  float64
 1   name        847330 non-null  object
 2   start_date  847330 non-null  object
 3   end_date    847330 non-null  object
 4   program_id  847330 non-null  float64
 5   user_id     900223 non-null  int64
 6   path        900222 non-null  object
 7   ip          900223 non-null  object
 8   date        900223 non-null  object
 9   time        900223 non-null  object
 10  date_time   900223 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 75.5+ MB

In [10]:
df.set_index(df.date_time, inplace=True)

In [11]:
df.drop(columns=['time', 'date_time'])

,id,name,start_date,end_date,program_id,user_id,path,ip,date
date_time,,,,,,,,,
2018-01-26 09:55:03,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,/,97.105.19.61,2018-01-26
2018-01-26 09:56:02,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii,97.105.19.61,2018-01-26
2018-01-26 09:56:05,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,java-ii/object-oriented-programming,97.105.19.61,2018-01-26
2018-01-26 09:56:06,8.0,Hampton,2015-09-22,2016-02-06,1.0,1,slides/object_oriented_programming,97.105.19.61,2018-01-26
2018-01-26 09:56:24,22.0,Teddy,2018-01-08,2018-05-17,2.0,2,javascript-i/conditionals,97.105.19.61,2018-01-26
...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,28.0,Staff,2014-02-04,2014-02-04,2.0,64,jquery/personal-site,71.150.217.33,2021-04-21
2021-04-21 16:42:02,28.0,Staff,2014-02-04,2014-02-04,2.0,64,jquery/mapbox-api,71.150.217.33,2021-04-21
2021-04-21 16:42:09,28.0,Staff,2014-02-04,2014-02-04,2.0,64,jquery/ajax/weather-map,71.150.217.33,2021-04-21
2021-04-21 16:44:37,28.0,Staff,2014-02-04,2014-02-04,2.0,744,anomaly-detection/discrete-probabilistic-methods,24.160.137.86,2021-04-21
2021-04-21 16:44:39,28.0,Staff,2014-02-04,2014-02-04,2.0,64,jquery/mapbox-api,71.150.217.33,2021-04-21

In [12]:
df.loc[df['name'] == 'Staff', 'program_id'] = 5

In [13]:
df[df.name == "Staff"]

,id,name,start_date,end_date,program_id,user_id,path,ip,date,time,date_time
date_time,,,,,,,,,,,
2018-12-06 14:15:29,28.0,Staff,2014-02-04,2014-02-04,5.0,53,appendix/further-reading/java/intellij-tomcat-...,97.105.19.58,2018-12-06,14:15:29,2018-12-06 14:15:29
2018-12-06 14:25:40,28.0,Staff,2014-02-04,2014-02-04,5.0,314,javascript-i,97.105.19.58,2018-12-06,14:25:40,2018-12-06 14:25:40
2018-12-06 14:25:41,28.0,Staff,2014-02-04,2014-02-04,5.0,314,javascript-i/coffee-project,97.105.19.58,2018-12-06,14:25:41,2018-12-06 14:25:41
2018-12-06 15:31:29,28.0,Staff,2014-02-04,2014-02-04,5.0,40,spring,170.248.173.247,2018-12-06,15:31:29,2018-12-06 15:31:29
2018-12-06 15:31:33,28.0,Staff,2014-02-04,2014-02-04,5.0,40,spring/fundamentals/security,170.248.173.247,2018-12-06,15:31:33,2018-12-06 15:31:33
...,...,...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,28.0,Staff,2014-02-04,2014-02-04,5.0,64,jquery/personal-site,71.150.217.33,2021-04-21,16:41:51,2021-04-21 16:41:51
2021-04-21 16:42:02,28.0,Staff,2014-02-04,2014-02-04,5.0,64,jquery/mapbox-api,71.150.217.33,2021-04-21,16:42:02,2021-04-21 16:42:02
2021-04-21 16:42:09,28.0,Staff,2014-02-04,2014-02-04,5.0,64,jquery/ajax/weather-map,71.150.217.33,2021-04-21,16:42:09,2021-04-21 16:42:09
2021-04-21 16:44:37,28.0,Staff,2014-02-04,2014-02-04,5.0,744,anomaly-detection/discrete-probabilistic-methods,24.160.137.86,2021-04-21,16:44:37,2021-04-21 16:44:37
2021-04-21 16:44:39,28.0,Staff,2014-02-04,2014-02-04,5.0,64,jquery/mapbox-api,71.150.217.33,2021-04-21,16:44:39,2021-04-21 16:44:39

In [14]:
df.program_id.value_counts()

2.0    629334
3.0    103412
5.0     84031
1.0     30548
4.0         5
Name: program_id, dtype: int64

In [15]:
df[df.program_id == 4]

,id,name,start_date,end_date,program_id,user_id,path,ip,date,time,date_time
date_time,,,,,,,,,,,
2018-03-22 19:01:49,9.0,Apollo,2015-03-30,2015-07-29,4.0,152,/,207.68.209.17,2018-03-22,19:01:49,2018-03-22 19:01:49
2018-03-22 19:01:54,9.0,Apollo,2015-03-30,2015-07-29,4.0,152,content/html-css,207.68.209.17,2018-03-22,19:01:54,2018-03-22 19:01:54
2018-03-22 19:01:54,9.0,Apollo,2015-03-30,2015-07-29,4.0,152,content/html-css/gitbook/images/favicon.ico,207.68.209.17,2018-03-22,19:01:54,2018-03-22 19:01:54
2018-03-22 19:02:47,9.0,Apollo,2015-03-30,2015-07-29,4.0,152,content/html-css,207.68.209.17,2018-03-22,19:02:47,2018-03-22 19:02:47
2018-03-22 19:02:52,9.0,Apollo,2015-03-30,2015-07-29,4.0,152,content/html-css/introduction.html,207.68.209.17,2018-03-22,19:02:52,2018-03-22 19:02:52

In [16]:
df[df.program_id == 1].path.str.contains('(javascript|java|html|css|jquery|object_oriented_programming)').value_counts()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_39243/2718205872.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.program_id == 1].path.str.contains('(javascript|java|html|css|jquery|object_oriented_programming)').value_counts()

True     19677
False    10871
Name: path, dtype: int64

- program_id 1 is most likely web_dev based on the amount of times that webdev curriculum courses are accesed

In [17]:
df[df.program_id == 2].path.str.contains('(javascript|java|html|css|jquery|object_oriented_programming)').value_counts()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_39243/761621176.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.program_id == 2].path.str.contains('(javascript|java|html|css|jquery|object_oriented_programming)').value_counts()

True     412971
False    216363
Name: path, dtype: int64

- program_id 2 is most likely web_dev based on the amount of times that webdev curriculum courses are accesed

In [18]:
df[df.program_id == 3].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_39243/654221564.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.program_id == 3].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

False    103086
True        325
Name: path, dtype: int64

In [19]:
df[df.program_id == 4].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_39243/154440998.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.program_id == 4].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

True     4
False    1
Name: path, dtype: int64

In [20]:
df[df.program_id == 5].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

/var/folders/ng/82m_197x6jd7ysrq5l2vxd280000gn/T/ipykernel_39243/3745163319.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df.program_id == 5].path.str.contains('(javascript|java|html|css|jquery)').value_counts()

False    52290
True     31741
Name: path, dtype: int64

- program id 3 is most likely Data scicence based off the lack of webdev courses accesed.

In [21]:
# takes program 1 and 2 and sets both to 1 for WEBDEV
df.program_id = np.where((df.program_id == 1) | (df.program_id == 2), 1, df.program_id)

In [22]:
# takes program 3 and changes it to 2 for Data Science
df.loc[df.program_id == 3, 'program_id'] = 2

In [23]:
# changes the staff program id to 3
df.loc[df['name'] == 'Staff', 'program_id'] = 3

- program id 3 is staff 
- program id 4 is a random early student form 2015 that had accessed the curicculum again after the logs were being recorded

In [24]:
df.program_id.value_counts()

1.0    659882
2.0    103412
3.0     84031
4.0         5
Name: program_id, dtype: int64

In [25]:
conditions = [
    df['program_id'] == 1,
    df['program_id'] == 2,
    df['program_id'] == 3
]

choices = [
    'Web_dev',
    'Data Science',
    'Staff'
]

df['program'] = np.select(conditions, choices)

In [26]:
df.rename(columns={'id': 'cohort_id'}, inplace=True)

In [27]:
df.fillna(0, inplace=True)

In [28]:
df.isna().sum()

cohort_id     0
name          0
start_date    0
end_date      0
program_id    0
user_id       0
path          0
ip            0
date          0
time          0
date_time     0
program       0
dtype: int64